@value brand-red from './colors.css';

.signupBtn {
	color: white !important;
	background-color: brand-red !important;
	margin-top: 1rem !important;
	font-size: 1rem !important;
}

.reviewGrid {
	margin-top: 1rem !important;
}

@media screen and (max-width: 500px) {
	.reviewGrid {
		padding: 0 !important;
		margin-top: 1rem;
	}
}