.root {
	text-align: center;
	margin: auto;
}

.title {
	font-size: 2.5rem;
	font-family: 'Courier New', Courier, monospace;
	margin-bottom: 1rem;
	border-bottom: 5px solid black;
}

.btn {
	color: black !important;
	border-color: red !important;
}

.btn:hover {
	background-color: rgba(237, 174, 174, 40%) !important;
}