@value gray-text from './colors.css';
@value brand-red from './colors.css';

.profileMain {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	background-color: white;
}

.profileHeader {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

.userStats {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.userModalOpener {
	cursor: pointer;
	text-align: center;
}

.statTitle {
	color: gray-text;
}

.userActions {
	display: flex;
	justify-content: space-between;
}

.profileBtn {
	margin: 0 auto !important;
	border-radius: 8px !important;
	background-color: brand-red !important;
}

.profileBtn.following {
	background-color: #5c5c5c !important;
}

.profileSecondary {
	height: 100%;
	padding: 1rem;
}

.reviewTitle {
	font-size: 1.2rem;
}

.datePosted {
	color: gray-text;
}

.dishReviews {
	margin: 1rem 0;
}

.iconTextBox {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.dishReviewHeader {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 0.5rem;
	align-items: center;
}

.reviewActions {
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width: 320px) {
	.dishReviewHeader {
		display: flex;
		flex-wrap: wrap;
	}
}