.card {
	display: grid;
	align-items: stretch;
	grid-template-rows: 80px 1fr 50px;
	height: min(680px, 90vh);
	border-radius: 8px;
}

.swiper {
	width: 100%;
	padding-bottom: 2rem;
}

.swiper-button-next-unique {
	color: black;
}

.cardContent {
	height: 100%;
}

.reviewContent {
	padding: 4px;
	margin-top: 8px;
}

.cardActions {
	height: max-content;
	align-self: flex-end;
}


@media screen and (max-width: 500px) {
	.card {
		height: min(500px, 95vh);
	}
}